@import "../../../public/style/variables.scss";
@import "../../../public/style/mixins.scss";

.movieGenre {
  // background: orange;
  position: relative;
  min-height: 132.53px;
  margin: 3em auto 2em;
  h4 {
    color: #FFF;
    font-size: 1.3em;
    margin-bottom: .5em;
    display: inline-block;
    @include mediaQuery($firstBreakPoint) { font-size: 2em; }
    &:hover { color: $netflixRed; }
  }
  h4, .img-box {
    padding: 0 5px;
  }
}

.img-box {
  height: 100%;
  img {
    width: 100%;
    transition: box-shadow 0.5s, transform 0.5s;

    &:hover {
      transform: scale(1.4);
      box-shadow: 0px 3px 300px rgba(0,0,0,20);
      cursor: pointer;
    }
  }
}

.slick-arrow,
.slick-prev {
  &:before {
    opacity: .1;
  }
}

a:hover {
  text-decoration: none;
}

.imgReplacement {
  text-align: center;
  color: #B9090B;
  &:hover {
    color: #FFF;
  }
}


.movieGenre,
.contentBox {
  max-height: 483px; // added because of firefox
}
