* {
  box-sizing: border-box;
}

body, html {
  background: #141414;
  width: 100%;
}

body {
  padding-top: 50px;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.navbar {
  margin: 0;
  border: none;
  border-radius: 0;
  background: rgba(0, 0, 0, .5);
  .navbar-brand { color: red; }
  .navbar-collapse {
    background: #141414;
  }
}



.mainMovie {
  background: pink;
  height: 500px;

  padding: 3em;
  box-shadow: 0 0 500px rgba(0,0,0,20) inset;

  h3 { color: red; }

  .mainMovieInfo{
    // background: orange;
    color: #fff;
    width: 50%;
    max-width: 400px;
    margin: 3em 0;
    h2 { font-size: 2em; }
    p { font-size: 1em; }
  }
  button {
    padding: .5em 1em;
    background: red;
    color: #FFF;
    border: none;
  }
}

.mainMovieBox {
  // padding: 1em;
  display: flex;
  align-items: center;
  box-shadow: inset 0px 0px 50px rgba(0,0,0,0.9);
}








.movieGenre {
  // background: firebrick;
  margin-bottom: 2em;
  width: 90%;
  margin: 3em auto;
  h4 {
    color: #FFF;
    margin-bottom: .5em;
  }
  h4, .img-box {
    padding: 0 5px;
  }
}

.img-box {
  height: 100%;
  img {
    width: 100%;
    transition: box-shadow 0.5s, transform 0.5s;
    &:hover {
      transform: scale(1.4);
      box-shadow: 0px 3px 300px rgba(0,0,0,20);
      cursor: pointer;
    }
  }
}
