@import "mixins";
@import "variables";

* {
  box-sizing: border-box;
}

body, html {
  background: #141414;
  width: 100%;
}

body {
  padding-top: 50px;
  @include mediaQuery(730px) {
    padding-top: 62px;
  }
}

h1, h2, h3, h4, p {
  margin: 0;
}

.contain {
  // background: yellow;
  max-width: 1500px;
  margin: 0 auto;
}

.contentBox {
  width: 85%;
  margin: 0 auto;
}


@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: $netflixRed;
  border-bottom-color: #B9090B;
  animation: spinner 1.5s ease infinite;
}
