* {
  box-sizing: border-box;
}

.movieGenre {
  // background: firebrick;
  margin-bottom: 2em;
}

.slider {
  // background: orange;
}

.img-box {
  // background: pink;
  padding: 0 5px;
  height: 100%;
  img {width: 100%}
  // text-align: center;
  // margin: 0 2em;
}
